body {background-color: #FEF9E7;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      font-family: verdana;
}
h1 {style= text-align: center;
      color: #455A64;
      font-size: 30px;
      font-style: italic;
}
p {font-size: 20px}
header {background-color: yellow;
  margin: 10px;
  padding: 10px;
  border: 4px solid;
}
nav {background-color: grey;
  font-size: 20px;
  margin: 7px;
  padding: 7px;
  border: 3px dotted;
}

.receta {display: flex;
  justify-content: space-between;
  }

.ingredientes {background-color: lightblue;
  margin:10px;
  padding: 20px;
  border: 4px solid;
  display: flex;
    justify-content:center;
}
.pasos {background-color: lightblue;
  margin:10px;
  padding: 20px;
  border: 4px solid;
  display: flex;
  justify-content: space-between;
}

.videomapa {margin:10px;
padding: 20px;
display: flex;
justify-content: space-between;
}

footer {background-color: lightblue;
margin: 40px;
padding: 5px;
}
ul {font-size: 18px}
ol {font-size: 18px}
iframe {border: 3px solid}
