body {background-color: #FEF9E7;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      font-family: verdana;
}

header {width: 97vw;
  height: 15vh;
  box-sizing: border-box;
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  border: 4px solid;
  display: flex;
  justify-content: space-between;
  align-items:
}

.header2 {align-items: center;
  width: 97vw;
  height: 15vh;
  box-sizing: border-box;
  background-color: yellow;
  margin: 5px;
  padding: 5px;
  border: 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;}

@media (max-width: 768px) {
  .header1 {display: none;}
}

@media (min-width: 768px) {
  .header2 {display: none;}
}

@media (max-width: 768px) {
  body {background-color: #EAECEE;
  }
}

.bombasfondo {
width:12%;
margin:5px;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
display: flex;
}

h1 {font-family: 'Roboto', sans-serif;
    width: 20%;
    color: #455A64;
    font-size: 30px;
    font-style: italic;
    margin:5px;
    padding: 5px;
    display: flex;
      justify-content: space-between;
      align-items: center;
}

.redes {margin:10px;
  padding: 10px;
  height: 50%;
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {font-size: 20px;
font-style: italic;
font-family: verdana;
display: flex;
justify-content: center;
align-items: center;}

nav {width: 97vw;
  box-sizing: border-box;
  background-color: lightblue;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a:link {color:purple;}
a:hover {color:red;}

.subtitulo {font-family: 'Roboto', sans-serif;
font-size: 20px;}

.receta {width: 97vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  }

.flecha {display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 575px) {
  .flecha {
    display: none;
  }
}

.ingredientes {background-color: lightblue;
  margin:5px;
  padding: 5px;
  border: 4px solid;
  display: flex;
    justify-content:center;
}
.pasos {
  background-color: lightblue;
  margin:5px;
  padding: 5px;
  border: 4px solid;
  display: flex;
  justify-content: space-between;
}

.video {margin:10px;
padding: 20px;
display: flex;
justify-content: center;
}

.bombasimagen {margin:10px;
padding: 20px;
width: 70%;
height: 70%;
display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .video {
    display: none;
  }
}

@media (min-width: 575px) {
  .bombasimagen {
    display: none;
  }
}

ul {font-size: 18px}
ol {font-size: 18px}

iframe {border: 3px solid}

.dejatureceta {margin:10px;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: space-between}

footer {width: 97vw;
  height: 15vh;
  box-sizing: border-box;
  background-color: lightblue;
  margin:10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.mapa {width:10%;
margin:5px;
padding: 5px;
}
